@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat");

/*
	HIHvercar by Riko Melo
	rikomelo@outlook.com | @ogih_
	Webdesigner
*/


/*RESETAR CONFIGURAÇÕES*/

html{ 
    box-sizing: border-box;
   
}

*, *:before, *:after {
	box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}

body {
    display: none !important;
    line-height: 1;
    margin:0 !important;
    overflow:visible !important;
    text-indent:0 !important;

    word-break: break-word; /*Hanilita a quebra de palavra para evitar o overflos em todos os navegadores*/
    -webkit-tap-highlight-color: transparent /*Remove the grey highlight on links in iOS*/;
/*Impede ajuste de tamanho na fonte em decorrência da mudança de orientação no IE, Windows Phone e iOS*/
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%; 
}

/*Limitação do tamanho e da largura da página para todos os navegadores*/
iframe, img, nav, input, select, textarea{
    height: auto font-family: inherit !important;
    max-width: 100%;
    background-color: transparent !important;
    font-family: inherit !important; 
}

nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

button, input, select, textarea{
    color:inherit !important;
    letter-spacing: inherit; /* 2 */
    padding: 0.25em 0.375em; /* 1 */
}

/*Correção da exibição de botões personalizados no iOS e Safari.*/
 button,
 [type="button"],
 [type="reset"],
 [type="submit"] {
   -webkit-appearance: button;
 }

 /**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
::-ms-expand {
    display: none;
  }
  
/*Correção de falha a aparência no IE*/
:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.54);
  }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@-ms-viewport {
    width: device-width;
}



