@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat");

/*
	Hivercar by Riko Melo
	rikomelo@outlook.com | @ogih_
	Webdesigner
*/

/******************CONFIGURAÇÕES BASICAS DOS ELEMENTOS SEMÂNTICOS**********************/

html{
 
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    
 
    transition: opacity 250ms ease-in-out;
    -webkit-transition: opacity 250ms ease-in-out;
    -moz-transition: opacity 250ms ease-in-out;
    -o-transition: opacity 250ms ease-in-out;
    -ms-transition: opacity 250ms ease-in-out;
    
    padding: 0;
    margin: 0;
    line-height: 1.5em;
   
    font-family: 'Montserrat', sans-serif;
}

 
.rodape {
    background:#2f3b42;
    color: #fdb813;
    padding-top: 5px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    -webkit-flex-direction: row;
 
 
}

   
    .rodape .coluna-2 {
       
        flex-direction: column;
        -webkit-flex-direction: column;
        width: 18%;
        margin-left: 20px;
        margin-right: 10px;
     
       
    }
    
    
    .rodape .copyright {
        background-color: #454460;
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: center;
        width: 100%;
       
    }
        .rodape .copyright p {
            margin: 10px;
            color: #ccc;
        }

.rodape h3 {
    font-size: 15px;
    color:  #d84b6b;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
}

.rodape ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

.rodape ul li, .rodape p{font-size: 12px;}


.rodape a {
   color: inherit;
   text-decoration: none;
}

    .rodape a:hover, .rodape a:focus {
        text-decoration: none;
        color: #f2f2f2;
    }

.rodape .fanpages {
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

    .rodape .fanpages a {
        font-size: 13px;
        color: #f9f9f9;
        padding: 12px;
        transition: 0.2s;
    }

        .rodape .fanpages a:hover {text-decoration: none;}
        .rodape .facebook:hover {color: #0077e2;}
        .rodape .instagram:hover {color: purple;}
        .rodape .twitter:hover {color: #00aced;}




