*{
  margin:0;
  padding:0;
}

body {
  
  background-color: #f0f5ef;
    
  }
nav{
   background-color: rgb(155, 210, 255);
   text-shadow: 2px 2px 4px #000;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
  
}

a:hover, a:focus {
    color: rgb(155, 210, 255);
    text-decoration: none;
    outline: none;
}

button[type="button"]{
  font-weight: bold;
}


    
/*----------------------------*\
BOTÕES
\*----------------------------*/
a[href="#topo"]{
    color: rgb(155, 210, 255);
  }
  
  a[href="#topo"]:hover{
    text-decoration:none;
    color: #353535;
}
#msg{
   width: 300px;
   height: 25px;
  
    
}

/*----------------------------*\
	OBJETOS
\*----------------------------*/

.container{
  padding-top: 20px;
  padding-bottom: 20px;
}

.whatsapp{
    position: fixed;
    top: 90%;
    left:2%;
    z-index: 10000000;
    
  }

.voltarTopo {
    position:fixed;
    top: 89%;
    right:2%;
    font-size: 38px;
    z-index: 10000000;
}

.metamorfose {
  animation: transition 15s infinite ease-in-out;
}



/*----------------------------*\
CONTAGEM REGRESSIVA
\*----------------------------*/


.spinner1s{
  width: 70px;
  height: 70px;
  animation: gira-gira 1s infinite; 
  border: 5px solid #fff;
  border-radius: 100%;
  border-top: 5px solid rgb(155, 210, 255);
}

.spinner6s{
  width: 80px;
  height: 80px;
  animation: gira-gira 6s infinite; 
  border: 5px solid #fff;
  border-radius: 100%;
  border-top: 5px solid rgb(155, 210, 255);
}

.spinner60s{
  width: 95px;
  height: 95px;
  animation: gira-gira 60s infinite; 
  border: 5px solid #fff;
  border-radius: 100%;
  border-top: 5px solid rgb(155, 210, 255);
}

.spinner600s{
  width: 115px;
  height: 115px;
  animation: gira-gira 1s infinite; 
  border: 5px solid #fff;
  border-radius: 100%;
  border-top: 5px solid rgb(241, 50, 50); 
}
div ul{
  height: 150px;
}
div h4, div h5{
  font-weight: bold;
}
  /*CONFIGURAÇÃO DOS NÚMEROS DO CONTADOR*/
li span{
    font-size: 3.5em;
    color: rgb(241, 50, 50); /*COR DOS NÚMEROS DO CONTADOR*/
    font-weight: bold;
    padding-left: 35px;
    font-weight: bold;
  }
 
  
  .box{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
    background-color:#353535;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px #353535;
   
    color: white;
    padding: 20px;
  }
  
  
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  @keyframes transition {
    from {
      background-color: #353535;
    }
    to {
      background-color: rgb(155, 210, 255);
    }
  }

  @keyframes gira-gira {
    from {
      transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
  }
  
  