
@font-face {
  font-family: ARCADE_N;
  src: url("../ARCADE_N.ttf");
}

html, body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  font-family: 'ARCADE_N';
  }
button{
  margin: 1em auto;
  font-weight: bold;
  letter-spacing: 3px;
  border: 2px solid #F8B1C1; 
  cursor: pointer;
}

ul{
  font-size: 1em;
  font-size: bold;
  color: #f0ad4e;
  list-style: none;
 
}

/*----------------------------*\
RELÓGIO
\*----------------------------*/
.container{
  margin: 2em auto;
}

#resumo{
  background-color: #292b2c;
  color: #f7f7f7;
  text-align: center;
}
input{
  width: 250px; 
  height: 40px; 
  background: #FFF; 
  margin-top: 10px; 
  padding-left: 8px; 
  letter-spacing: 2px; 
  color: #262626;  
  margin: 1em auto;
  font-size: 16px;  
  outline-color: transparent; 
  border: none; 
  border-bottom: 2px solid #292b2c;
  margin-bottom: 40px;  
  }
  ​
  .lista-tarefas{
  padding-top: 50px;  
  padding-bottom: 30px; 
  }
  ​
  .topicos{
  padding-top: 20px; 
  font-size: 20px;
  color: #f7f7f7;
  letter-spacing: 2px;  
  line-height: 40px; 
  background-color: #5bc0de;
  }

@media only screen and (min-width : 299px) {
  h5{
    font-size: 0.75em;
    text-align: center;
    text-transform: uppercase;

  }
  #one{
    background-color: #292b2c;
    color: #f7f7f7;
    text-align: center;
  }
  #two{
      background-color: #0275d8;
      color: #f7f7f7;
      text-align: center;
      font-weight: bold;
  }
  #relogio, #cronometro{
    margin: 1em auto;
    padding: 0.5em;
    font-size: 1.5em;
    font-weight: 400;
  }
  .inverse{
    background-color: #292b2c;
    color:#f7f7f7;
    border-radius: 60% 30%;
    width: 15vh;
    height: 5vh;
    font-size: 0.55em;
  }
  
  .faded{
    background-color: #0275d8;
    color: #f7f7f7;
    border-radius: 60% 30%;
    width: 15vh;
    height: 5vh;
    font-size: 0.55em;
  }
}

@media only screen and (min-width : 799px) {
  h5{
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
  }
  #one{
  background-color: #292b2c;
  color:#f7f7f7;
  }
  #two{
    background-color: #f0ad4e;
    color:#292b2c;
  }
  #relogio,  #cronometro{
    margin: 1em auto;
    padding: 0.25em;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    display: block;
    width: 55%;
  }
  .inverse{
    background-color: #292b2c;
    color:#f7f7f7;
    border-radius: 60% 30%;
    width: 28vh;
    height: 7vh;
    font-size: 0.95em;
  }
  
  .faded{
    background-color: #0275d8;
    color: #f7f7f7;
    border-radius: 60% 30%;
    width: 24vh;
    height: 6vh;
    font-size: 1em;
  }
}
